[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-01"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-01
	url = https://github.com/serg-backend-developer/goit-algo2-hw-01.git
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-02"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-02
	url = https://github.com/serg-backend-developer/goit-algo2-hw-02.git
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-03"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-03
	url = https://github.com/serg-backend-developer/goit-algo2-hw-03
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-04"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-04
	url = https://github.com/serg-backend-developer/goit-algo2-hw-04
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-05"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-05
	url = https://github.com/serg-backend-developer/goit-algo2-hw-05
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-06"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-06
	url = https://github.com/serg-backend-developer/goit-algo2-hw-06
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-07"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-07
	url = https://github.com/serg-backend-developer/goit-algo2-hw-07
[submodule "design_and_analysis_of_algorithms/goit-algo2-hw-08"]
	path = design_and_analysis_of_algorithms/goit-algo2-hw-08
	url = https://github.com/serg-backend-developer/goit-algo2-hw-08
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-01"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-01
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-01
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-02"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-02
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-02
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-03"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-03
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-03
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-04"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-04
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-04
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-06"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-06
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-06
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-08"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-08
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-08
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-10"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-10
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-10
[submodule "fullstack_web_development_with_python/goit-pythonweb-hw-012"]
	path = fullstack_web_development_with_python/goit-pythonweb-hw-012
	url = https://github.com/serg-backend-developer/goit-pythonweb-hw-012
[submodule "relational_databases_concepts_and_techniques/goit-rdb-hw-02"]
	path = relational_databases_concepts_and_techniques/goit-rdb-hw-02
	url = https://github.com/serg-backend-developer/goit-rdb-hw-02
[submodule "relational_databases_concepts_and_techniques/goit-rdb-hw-03"]
	path = relational_databases_concepts_and_techniques/goit-rdb-hw-03
	url = https://github.com/serg-backend-developer/goit-rdb-hw-03
[submodule "relational_databases_concepts_and_techniques/goit-rdb-hw-04"]
	path = relational_databases_concepts_and_techniques/goit-rdb-hw-04
	url = https://github.com/serg-backend-developer/goit-rdb-hw-04
[submodule "relational_databases_concepts_and_techniques/goit-rdb-hw-05"]
	path = relational_databases_concepts_and_techniques/goit-rdb-hw-05
	url = https://github.com/serg-backend-developer/goit-rdb-hw-05
[submodule "relational_databases_concepts_and_techniques/goit-rdb-hw-07"]
	path = relational_databases_concepts_and_techniques/goit-rdb-hw-07
	url = https://github.com/serg-backend-developer/goit-rdb-hw-07
[submodule "relational_databases_concepts_and_techniques/goit-rdb-fp"]
	path = relational_databases_concepts_and_techniques/goit-rdb-fp
	url = https://github.com/serg-backend-developer/goit-rdb-fp
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-01"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-01
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-01
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module2"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module2
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module2
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module3"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module3
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module3
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module4"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module4
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module4
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module5"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module5
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module5
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module6"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module6
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module6
[submodule "mastering_frontend_development_with_react/goit-neo-react-hw-module7"]
	path = mastering_frontend_development_with_react/goit-neo-react-hw-module7
	url = https://github.com/serg-backend-developer/goit-neo-react-hw-module7
[submodule "mastering_frontend_development_with_react/tt_campers"]
	path = mastering_frontend_development_with_react/tt_campers
	url = https://github.com/serg-backend-developer/tt_campers
[submodule "advanced_js_and_ts/goit-advancedjs-hw-01"]
	path = advanced_js_and_ts/goit-advancedjs-hw-01
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-01
[submodule "advanced_js_and_ts/goit-advancedjs-hw-02"]
	path = advanced_js_and_ts/goit-advancedjs-hw-02
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-02
[submodule "advanced_js_and_ts/goit-advancedjs-hw-03"]
	path = advanced_js_and_ts/goit-advancedjs-hw-03
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-03
[submodule "advanced_js_and_ts/goit-advancedjs-hw-04"]
	path = advanced_js_and_ts/goit-advancedjs-hw-04
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-04
[submodule "advanced_js_and_ts/goit-advancedjs-hw-05"]
	path = advanced_js_and_ts/goit-advancedjs-hw-05
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-05
[submodule "advanced_js_and_ts/goit-advancedjs-hw-06"]
	path = advanced_js_and_ts/goit-advancedjs-hw-06
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-06
[submodule "advanced_js_and_ts/goit-advancedjs-hw-07"]
	path = advanced_js_and_ts/goit-advancedjs-hw-07
	url = https://github.com/serg-backend-developer/goit-advancedjs-hw-07
[submodule "js_fundamentals/goit-js-hw-01"]
	path = js_fundamentals/goit-js-hw-01
	url = https://github.com/serg-backend-developer/goit-js-hw-01
[submodule "js_fundamentals/goit-js-hw-02"]
	path = js_fundamentals/goit-js-hw-02
	url = https://github.com/serg-backend-developer/goit-js-hw-02
[submodule "js_fundamentals/goit-js-hw-03"]
	path = js_fundamentals/goit-js-hw-03
	url = https://github.com/serg-backend-developer/goit-js-hw-03
[submodule "js_fundamentals/goit-js-hw-04"]
	path = js_fundamentals/goit-js-hw-04
	url = https://github.com/serg-backend-developer/goit-js-hw-04
[submodule "js_fundamentals/goit-js-hw-05"]
	path = js_fundamentals/goit-js-hw-05
	url = https://github.com/serg-backend-developer/goit-js-hw-05
[submodule "js_fundamentals/goit-js-hw-06"]
	path = js_fundamentals/goit-js-hw-06
	url = https://github.com/serg-backend-developer/goit-js-hw-06
[submodule "js_fundamentals/goit-js-hw-07"]
	path = js_fundamentals/goit-js-hw-07
	url = https://github.com/serg-backend-developer/goit-js-hw-07
[submodule "js_fundamentals/goit-js-hw-08"]
	path = js_fundamentals/goit-js-hw-08
	url = https://github.com/serg-backend-developer/goit-js-hw-08
[submodule "html_and_css_fundamentals/goit-markup-hw-01"]
	path = html_and_css_fundamentals/goit-markup-hw-01
	url = https://github.com/serg-backend-developer/goit-markup-hw-01
[submodule "html_and_css_fundamentals/goit-markup-hw-02"]
	path = html_and_css_fundamentals/goit-markup-hw-02
	url = https://github.com/serg-backend-developer/goit-markup-hw-02
[submodule "html_and_css_fundamentals/goit-markup-hw-03"]
	path = html_and_css_fundamentals/goit-markup-hw-03
	url = https://github.com/serg-backend-developer/goit-markup-hw-03
[submodule "html_and_css_fundamentals/goit-markup-hw-04"]
	path = html_and_css_fundamentals/goit-markup-hw-04
	url = https://github.com/serg-backend-developer/goit-markup-hw-04
[submodule "html_and_css_fundamentals/goit-markup-hw-05"]
	path = html_and_css_fundamentals/goit-markup-hw-05
	url = https://github.com/serg-backend-developer/goit-markup-hw-05
[submodule "html_and_css_fundamentals/goit-markup-hw-06"]
	path = html_and_css_fundamentals/goit-markup-hw-06
	url = https://github.com/serg-backend-developer/goit-markup-hw-06
[submodule "basic_algorithms_and_data_structures/goit-algo-fp"]
	path = basic_algorithms_and_data_structures/goit-algo-fp
	url = https://github.com/serg-backend-developer/goit-algo-fp
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-02"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-02
	url = https://github.com/serg-backend-developer/goit-algo-hw-02
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-03"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-03
	url = https://github.com/serg-backend-developer/goit-algo-hw-03
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-04"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-04
	url = https://github.com/serg-backend-developer/goit-algo-hw-04
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-05"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-05
	url = https://github.com/serg-backend-developer/goit-algo-hw-05
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-06"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-06
	url = https://github.com/serg-backend-developer/goit-algo-hw-06
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-07"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-07
	url = https://github.com/serg-backend-developer/goit-algo-hw-07
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-08"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-08
	url = https://github.com/serg-backend-developer/goit-algo-hw-08
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-09"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-09
	url = https://github.com/serg-backend-developer/goit-algo-hw-09
[submodule "basic_algorithms_and_data_structures/goit-algo-hw-10"]
	path = basic_algorithms_and_data_structures/goit-algo-hw-10
	url = https://github.com/serg-backend-developer/goit-algo-hw-10
